{% extends 'base.html' %}
{% load static %}
{% block page_title %} Login {% endblock page_title %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/authentication_page.css' %}">
{% endblock css_files %}

{% block content %}

    <div id='main_content_block' class="text-black">
        
        <div id="logos">
            
            <img class='img-fluid' src="/static/authentication/cc_logo.jpg" alt="cc">
            <img class='img-fluid' src="/static/authentication/cc_text_logo.png" alt="cc_text">
        
        </div>
        
        <h1>Admin panel </h1>
        <div id='login_form' >

            <div class='mb-3 d-flex flex-column justify-content-evenly' > 
        
            <label for="InputEmail" id="email-label" class='form-label'> E-mail address </label>
            <input type="email" name="email" class='form-control' id="InputEmail" placeholder="Enter your e-mail address" aria-describedby="emailHelp" data-np-checked="1" required>
            <div id="emailHelp" class="form-text">Your work e-mail address</div>

            <label for="InputPassword" id="password-label" class='form-label'> Password </label>
            <input type="password" name="password" class='form-control' id="InputEmail" placeholder="Enter your password" aria-describedby="passwordHelp" data-np-checked="1" required>
            <div id="passwordHelp" class="form-text">Your 8-16 characters password</div>
            
        
        
            </div>

        </div>

    </div>

{% endblock content %}